<h1>Credits</h1>

<h2>Login and Others</h2>
<ul>
    <li>
        Login, Register and Home Page style is modified base on:
        <a href="http://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial">Angular 7 - User Registration and Login Example & Tutorial</a>,
        <a href="http://jasonwatmore.com" >JasonWatmore.com</a>
    </li>
    <li>
      
      <a 
      href="http://jasonwatmore.com/post/2018/06/14/nodejs-mongodb-simple-api-for-authentication-registration-and-user-management#user-service-js">
      Backend Note Installation</a>
    </li>
    <li>
        <a href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" >
          Login, Register and Home Page CSS </a>
    </li>
    
</ul>

<h2>3D Editor</h2>
<ul>
    <li><a href="https://threejs.org/">three.js</a></li>
    <li><a href="https://developer.ibm.com/technologies/artificial-intelligence/">IBM Watson</a></li>
</ul>

<h2>2D Editor</h2>
<ul>
    <li><a href="http://snapsvg.io/">Snap.svg</a></li>
    <li>
        Some icon images are downloaded from Angular Materials Design
        <a href="https://material.io/tools/icons/?style=baseline">Angular Icons</a>
    </li>
    <li>
        <div>Some icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div> 
    </li>
</ul>
